/* .wrapper{
    background-color: #23252C;
    width: 100%;
    overflow-x: hidden;
}
.test{
    outline: 1px solid rebeccapurple;
}
.login{
    background-color: #1A1B21;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    
} */

/*.login label{/*
    /* margin-top: 20px !important; */
    /* display: inline;
    align-self: flex-start;
    color: white;
    
} */

/* .login input{
    margin: 0 !important;
    padding: 1px !important;
}

.data{
    padding: 0 !important;
    margin-bottom: 20px !important;
}

.boton{
    border: none;
    padding: 10px !important;
    font-size: 12px;
    font-weight: 500;
}

.entrar{
    background-color: rgb(50, 185, 50);
    color: white;
}    */
/* .registrarse{

} */

body{
    /* background-image: url(../../../assets/images/bg-img.jpg);-webkit-background-size: cover; */
    background-image: url(../../../../assets/images/bg-img.jpg);-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    height: 100vh;
    overflow: hidden;
}
h2{
    color: #fff;
}

.login{
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.625rem;
    /* width: 400px;
    height: 300px; */
    width: 26rem;
    padding: 2.5rem;
    
}

.login .data input{
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.065rem solid #fff;
    outline: none;
    background: transparent;
}
/* 
.login .data label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
} */

.registrarse{
    margin: 0 5px;
}

.login .data input:focus::placeholder {
    color: transparent;
  }

.login .data input::placeholder{
    color: #fff;
}

.botones button,
.botones a{
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}

.botones button:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.botones a:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.boton{
    height: 60px;
}