<p>reflejos works!</p>

<div class="body h-100 d-flex justify-content-center align-items-center flex-column">

    <div class="container">
        <div class="row d-flex justify-content-center">
            <strong>
            <h1 class="text-center" style="color: black">Reflex Game</h1>
            </strong>
        </div>
        <div class="row d-flex justify-content-center">
            <h2>Test your Response time!</h2>
        </div>
        <div class="row d-flex justify-content-center flex-column align-items-center">
            <h3>How To Play</h3>
            <p>Click on "Start" first, and wait until the 
            background color changes. As soon as it
            changes, hit "stop!"
            </p>
        
            <br>
            <form name="response">
                Change background color to:
                <select name="bgColorChange">
                    <option selected>deeppink
                        <option>aliceblue
                        <option>crimson
                        <option>darkkhaki
                        <option>cadetblue
                        <option>darkorchid
                        <option>coral
                        <option>chocolate
                        <option>mediumslateblue
                        <option>tomato
                        <option>darkslategray
                        <option>limegreen
                        <option>cornflowerblue
                        <option>darkolivegreen
                </select>
                <br>
                <br>
        
                <input type="button" class="btn"
                        value="Start" onClick="startit()">
                <input type="button" class="btn" 
                        value="Stop" onClick="stopTest()">
            </form>
        <div>
    </div>
    
</div>
