<section class="content-item" id="comments">
    <div class="container">   
    	<div class="row d-flex flex-column justify-content-center align-items-center">
            <div class="col-sm-8">   
                <form (ngSubmit)="enviarMensaje()">
                	<h3 class="pull-left">Nuevo Mensaje</h3>
                	<button type="submit" class="btn btn-primary pull-right">Enviar</button>
                    <button type="button" class="btn btn-warning" (click)="verUsuarioLogueado()">Ver Usuario</button>
                    <!-- <button type="button" class="btn btn-success" (click)="verDatosFirestore()">Ver Datos</button> -->
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2 hidden-xs">
                            	<img class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                            </div>
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea class="form-control" id="message" placeholder="Your message" required=""
                                [(ngModel)]="nuevoMensaje" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </div>  	
                    </fieldset>
                </form>
                
                <h3>{{mensajes.length}} Comments</h3>
                
                <!-- COMMENT 1 - START -->
                <!-- <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="fa fa-calendar"></i>27/02/2014</li>
                        </ul>
                       
                    </div>
                </div> -->
                <!-- COMMENT 1 - END -->
                <!-- COMMENT 1 - START -->
                <div *ngFor="let mensaje of mensajes.reverse()" class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">{{mensaje.emisorEmail}}</h4>
                        <p>{{mensaje.texto}}</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="fa fa-calendar"></i>{{mensaje.fecha | date:'dd/MM/yyyy HH:mm'}}</li>
                            <!-- <li><i class="fa fa-thumbs-up"></i>13</li> -->
                        </ul>
                       
                    </div>
                </div>
                
            
            </div>
        </div>
    </div>
</section>
