<div class="body">
    
    <!-- <div class="row row-cols-1 row-cols-md-2 justify-content-center">
        <div class="col mb-4 justify-content-center">
          <div class="card card-game">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4 justify-content-center">
          <div class="card card-game">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4 justify-content-center">
          <div class="card card-game">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4 justify-content-center">
          <div class="card card-game">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div> -->


    <div class="container wrapper mt-4">
        <div class="row row-cols-1 row-cols-md-2 justify-content-center align-content-center">
            <div class="col mb-4 card-col">
                <div class="card">
                    <img src="./assets/images/snake.png" class="card-img-top" alt="...">
                    <div class="card-body w-100">
                      <h5 class="card-title">Ahorcado</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a class="btn btn-primary" routerLink="/juegos/ahorcado">Jugar</a>
                    </div>
                  </div>
            </div>
            <div class="col mb-4 card-col">
                <div class="card">
                    <img src="./assets/images/snake.png" class="card-img-top" alt="...">
                    <div class="card-body w-100">
                      <h5 class="card-title">Preguntados</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a class="btn btn-primary" routerLink="/juegos/preguntados">Jugar</a>
                    </div>
                  </div>
            </div>
            <div class="col mb-4 card-col">
                <div class="card">
                    <img src="./assets/images/snake.png" class="card-img-top" alt="...">
                    <div class="card-body w-100">
                      <h5 class="card-title">Reflejos</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a class="btn btn-primary" routerLink="/juegos/reflejos">Jugar</a>
                    </div>
                  </div>
            </div>
            <div class="col mb-4 card-col">
                <div class="card">
                    <img src="./assets/images/snake.png" class="card-img-top" alt="...">
                    <div class="card-body w-100">
                      <h5 class="card-title">Mayor o Menor</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a class="btn btn-primary" routerLink="/juegos/mayormenor">Jugar</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>