<router-outlet></router-outlet>


<div class="container-fluid">
    <header class="sticky-top fixed-top">
        <ul class="nav">
            <li><a href="#login">Login</a></li>
            <li><a href="#home">Home</a></li>
            <li><a href="#quiensoy">Quien Soy</a></li>
            <li><a href="#ejercicio">Ejercicio 1</a></li>
        </ul>
    </header>


    <div id="login" class="row w-100" style="background-color: black; padding: 0;">
        <app-login></app-login>

    </div>
    <div id="home" class="row">
        <app-home></app-home>
    </div>
    <div id="quiensoy" class="row">
        <app-quien-soy></app-quien-soy>
    </div>
    <div id="ejercicio" class="vh-100 d-flex justify-content-center align-items-center ">
        <app-ejercicio1></app-ejercicio1>
    </div>

</div>